[Unit]
Description=ftml server exposing an RPC interface
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
ExecStart=/usr/bin/ftml-server
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
