[Unit]
Description=ftml server exposing an RPC interface
Wants=network-online.target
After=network.target network-online.target

[Service]
Type=simple
User=ftml
WorkingDirectory=/home/ftml
ExecStart=/usr/bin/ftml-server config.toml
Restart=always
RestartSec=5

[Install]
WantedBy=multi-user.target
